# Terraform Provider testing workflow.
name: Tests

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    paths-ignore:
      - 'README.md'
    branches:
      - 'main'

# Testing only needs permissions to read the repository contents.
permissions:
  contents: read

# Default values to simplify job configurations below.
env:
  # Go language version to use for building. This value should also be updated
  # in the release workflow if changed.
  GO_VERSION: '1.19'

jobs:
  # Check Lint before building
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
      - uses: golangci/golangci-lint-action@v3.3.1
        with:
          version: v1.48.0

  # Ensure project builds before running testing matrix
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v3
      - run: go mod download
      - run: go build -v .

  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    needs: [lint, build]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.1.*'
    steps:
      - uses: actions/checkout@v3
      - name: run downloadclient
        run: docker run -d --name transmission linuxserver/transmission
      - name: config rights
        run: >
          sudo chown 1000:1000 ${{ github.workspace }}/.github/workflows/config.xml &&
          sudo chmod +x ${{ github.workspace }}/.github/workflows/test.sh
      - name: run provider
        run: >
          docker run -d
          -e PUID=1000
          -e PGID=1000
          --link transmission
          -v ${{ github.workspace }}/.github/workflows/test.sh:/scripts/test.sh
          -v ${{ github.workspace }}/.github/workflows/config.xml:/config/config.xml
          -p 8989:8989
          --health-cmd "curl --fail http://localhost:8989/system/status || exit 1"
          linuxserver/sonarr
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download
      - env:
          SONARR_URL: "http://localhost:8989"
          SONARR_API_KEY: "b01df9fca2e64e459d64a09888ce7451"
          TF_ACC: "1"
        run: go test -v -cover ./internal/provider/
        timeout-minutes: 10
